.title {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
}

.button {
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}